.page-home
{
    height: 49em;
    background-image:url(../../../../public/img/montanha.jpg);
    background-size: cover;
    background-position: bottom center;
    display: flex;
    
    .gif
    {
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
    }
}
