@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Silkscreen&display=swap');
.base-cabeçalho{
       text-align: end;

    display: flex;
    
    background-color:#fff;
    padding: 2px 171.5px;
    box-shadow: 1px 11px 5px -4px #918C8C;
    b{
        text-align: end;
        color: #000;
        font-family: 'Montserrat', serif; 
        font-size: 33px;
        font-weight: 700;
    }
}