.big-mãe
{
    margin-top: -30px;
    width:1349px;
    display: flex;  
    justify-content: center;

    .segundacoluna
        {
            cursor:grab;
            display: flex;
            justify-content: center;
        }
        img{
             cursor:grab;
            display: flex;
            justify-content: center;
            width: 1366px;
            height: 400px;
        }
        span{
            background-color: #fff;
        }

}