.page-pendentes
{
    height: 48.4em;
    background-image:url(../../../../public/img/aurora.jpg);
    background-size: cover;
    background-position: bottom center;
    display: flex;
    
    .base{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
}
