.base-cabeçalho{
       text-align: end;

    display: flex;
    
    background-color:#fff;
    padding: 0px 133.9px;
    box-shadow: -10px 10px 100px #000;
    b{
        text-align: end;
        color: #000;
        font-family: 'Montserrat', serif; 
        font-size: 30px;
        
    }
}
