.page-home
{
    //background-image:url(../../../../public/img2/unknown\ \(1\).png);
    .cabecalho
    {
        display: flex;
        justify-content:flex-end;
        text-align:end;
    }
    .a{
        position: absolute;
        width: 385px;
        height: 366px;
        left: 321px;
        top: 143px;
        
        background: rgba(217, 217, 217, 0.65);
        border-radius: 15px;
    }
    
    .b{
        position: absolute;
        width: 356px;
        height: 130px;
        left: 335px;
        top: 157px;
        
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 49px;
        text-align: center;
        
        color: #000000;
    }
    
    .c{
        position: absolute;
        width: 385px;
        height: 366px;
        left: 1097px;
        top: 133px;
        
        background: rgba(217, 217, 217, 0.65);
        border-radius: 15px;
    }
    
    .d{
        position: absolute;
        width: 307px;
        height: 130px;
        left: 1142px;
        top: 140px;
        
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 49px;
        text-align: center;
        
        color: #000000;
    }
    
    .e{
        position: absolute;
        width: 385px;
        height: 366px;
        left: 321px;
        top: 529px;
        
        background: rgba(217, 217, 217, 0.65);
        border-radius: 15px;
    }
    
    .f{
        position: absolute;
        width: 307px;
        height: 130px;
        left: 363px;
        top: 549px;
      
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 49px;
        text-align: center;
        
        color: #000000;
        
    }
    
    .g{
        position: absolute;
        width: 385px;
        height: 366px;
        left: 1097px;
        top: 529px;
        
        background: rgba(217, 217, 217, 0.65);
        border-radius: 15px;
    }
    
    .h{
        position: absolute;
        width: 307px;
        height: 130px;
        left: 1142px;
        top: 549px;
        
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 49px;
        text-align: center;
        
        color: #000000;
    }
}

