
.conteudo-cadastrar{
    padding: 22px 50px;
    margin-top: -170px;
    margin-left:auto;
    margin-right: auto; 
}

*{
    margin: 0px;
    padding: 0px;
}

.page-cadastrar{
    display: flex;
    align-items: center;
    height: 40.8em;
    background: linear-gradient(280.5deg, #25C998 0%, #1c8784 30%, #071441 100%);
    text-align: center;
    .titulo-cadastrar{
        margin-top: 92px;
        color: #fff;
        font-family: 'Oswald', sans-serif;
        font-size:55px ;
    }
    .sub-titulo{
        color: #fff;
        word-spacing: 20px;
        font-size: 25px;
        font-family: 'Oswald', sans-serif;
        display: block;
        text-align: left;
        margin-left: 10px;
        margin-top: 25px;
    }
    .usuario-base{
        margin-bottom: -30px;
    }
    .conteudo-cadastrar{
        margin-bottom: -30px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 4px;
        margin-left:auto;
        margin-right: auto; 
        background: linear-gradient(85deg, #25C998 0%, #1c8784 40%, #1020AB 100%);
    }
    
    .botão-cadastrar{
        background: none;
        border: #fff 2px solid;
        text-decoration: none;
        border-radius: 20px;
        margin-top: 28px;
        padding: 3px 14px;
        cursor: pointer;
        color:#fff ;
        border-radius: 25px;
        margin-top: 20px;
        padding: 3px 14px;
        cursor: pointer;
        font-size: 22px;
        font-family: 'Oswald', sans-serif;
        transition:all 0.6s ease-in-out 0.05s;
        cursor: pointer;
    }
    .botão-voltar-cadastrar{
        background: none;
        border: #fff 2px solid;
        text-decoration: none;
        border-radius: 20px;
        margin-top: 28px;
        padding: 3px 14px;
        cursor: pointer;
        color:#fff ;
        text-decoration: none;
        border-radius: 25px;
        margin-top: 20px;
        padding: 3px 14px;
        cursor: pointer;
        font-size: 22px;
        font-family: 'Oswald', sans-serif;
        margin-right: 200px;
        transition:all 0.6s ease-in-out 0.05s;
        cursor: pointer;
    }
    .botão-cadastrar:hover{
        transition:all 0.5s ease-in-out 0s;
        color: #1CB284;
        border: 2px #1CB284  solid;
        border-radius: 5px;
    
    }
    .botão-voltar-cadastrar:hover{
        transition:all 0.5s ease-in-out 0s;
        color: #204050;
        border: 2px #204050 solid;
        border-radius:5px;
    }
    
  
    
    
}
.page-login-cadastrar{
    display: flex;
    height: 40.8em;
    background-image:url(../../../../public//img/casa-fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    justify-content: center;
    align-items: center;

    .conteudo-login{
        margin-top: -20px;
        display: flex;
        align-items:center;
        justify-content:center;
      height: 400px;
        border-radius: 30px;
        border-bottom-right-radius: 100px;
        border-top-left-radius:100px ;
        padding: 33px 100px;
        color: rgb(255, 254, 254);
        background: linear-gradient(85deg, #25c998d2 0%, #1c8783d5 30%, #1020abd8 100%);
    }
    .invalido{
        position: absolute;
        margin-top: 10px;
        color:#000;
        font-family: 'Oswald', sans-serif;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        
    }
    .center{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    h1{
        text-align: center;
        color: #fff;
        font-family: 'Oswald', sans-serif;
        font-size:55px ;
    }
    .contener-input{
        margin-top: 35px;
    }
    label{    
        color: #fff;
        margin-bottom: -10px;
        font-size: 28px;
        font-family: 'montserrat', sans-serif;
        display: block;
        text-align: left;
    }
    input{
        margin: 0em 0em 0.5em 0em;
        border-bottom: #fff 2.5px solid;
        background: transparent;
        font-family: 'Montserrat', sans-serif;
        border: none;
        outline: none;
        font-size: 20px;
        width: 370px;
        height: 35px;
        border: 1px none;
        border-radius: 8px;
        border-bottom:#fff 1px solid ;
        color: #fff;
    }
    .botoes{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 2em 0em 0em 0em;
    }
    
    .botão{
        margin-left: 80px;
        background: none;
        border: #fff 2px solid;
        text-decoration: none;
        border-radius: 20px;
        padding: 3px 15px;
        cursor: pointer;
        color:#fff ;
        font-size: 22px;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
        transition:all 0.6s ease-in-out 0.05s;
    }
    .botão1{
        margin-right: 80px;
        background: none;
        border: #fff 2px solid;
        text-decoration: none;
        border-radius: 20px;
        padding: 3px 15px;
        cursor: pointer;
        color:#fff ;
        font-size: 22px;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
        transition:all 0.6s ease-in-out 0.05s;
    }

    
    .botão:hover{
        transition:all 0.5s ease-in-out 0s;
        color: #20d39d;
        border: 2px  solid #25C998;
        border-radius:5px;
    }   
    .botão1:hover{
        transition:all 0.5s ease-in-out 0s;
        color: #20d39d;
        border: 2px  solid #25C998;
        border-radius:5px;
    }    
}
