.page-cartao
{
    
    background-image:url(../../../../public/img/casa-fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    color: #000;
}

.botão-ok-ok{

}

.img_img-pix{

}