.page-home
{
    //background-image:url(../../../../public/img2/unknown\ \(1\).png);
    .cabecalho
    {
        display: flex;
        justify-content:flex-end;
        text-align:end;
    }
    .a{
        position: absolute;
        width: 400px;
        height: 366px;
        left: 405px;
        top: 126px;
        
        background: rgba(217, 217, 217, 0.65);
        border-radius: 15px;
    }
    
    .b{
        position: absolute;
        width: 504.8px;
        height: 275.34px;
        left: 352.62px;
        top: 177px;
     
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        line-height: 48px;
        text-align: center;
        
        color: #000000;
        
        transform: rotate(0.13deg);
    }
    
    .c{
        position: absolute;
        width: 230px;
        height: 92px;
        left: 486px;
        top: 387px;
    }
    
    .d{
        position: absolute;
        width: 400px;
        height: 366px;
        left: 1038px;
        top: 126px;
        
        background: rgba(217, 217, 217, 0.65);
        border-radius: 15px;    
    }
    
    .e{
        position: absolute;
        width: 504.8px;
        height: 275.34px;
        left: 985.62px;
        top: 177px;
        
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        line-height: 48px;
        text-align: center;
        
        color: #000000;
        
        transform: rotate(0.13deg);
    }
    
    .f{
        position: absolute;
        width: 230px;
        height: 92px;
        left: 1123px;
        top: 377px;
    }
    
    .g{
        position: absolute;
        width: 504.8px;
        height: 275.34px;
        left: 351.62px;
        top: 552px;
        
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        line-height: 48px;
        text-align: center;
        
        color: #000000;
        
        transform: rotate(0.13deg);
    }
    
    .h{
        position: absolute;
        width: 504.8px;
        height: 275.34px;
        left: 351.62px;
        top: 552px;
        
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        line-height: 48px;
        text-align: center;
        
        color: #000000;
        
        transform: rotate(0.13deg);
    }
    
    .i{
        position: absolute;
        width: 230px;
        height: 90px;
        left: 490px;
        top: 767px;
    }
    
    .j{
        position: absolute;
        width: 400px;
        height: 366px;
        left: 1038px;
        top: 522px;
        
        background: rgba(217, 217, 217, 0.65);
        border-radius: 15px;
    }
    
    .k{
        position: absolute;
        width: 504.8px;
        height: 275.34px;
        left: 985.62px;
        top: 557px;
        
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        line-height: 48px;
        text-align: center;
        
        color: #000000;
        
        transform: rotate(0.13deg);
    }
    
    .l{
        position: absolute;
        width: 230px;
        height: 54px;
        left: 1121px;
        top: 762px;
    }
}
